
.container{
    display: flex;
    
}



nav{
  padding:5px;
  flex: 1;
  justify-content: center;
}
nav a{
  color: black;
  font-size: 20px;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

*{
  font-family: Monospace;
}

a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid red ;
}

.banner{
  background-image: url();
  color: black;
  font-size: 25px;
  text-align: center;
  align-items: center;
  height: 200px;
}

.main{
  font-size: larger;
  color: blue;
  
}