
.container{
    display: flex;
   
}

.container div{
  flex: 1;
}

/* Navagation bar */

nav{
  padding:5px;
  flex: 1;
  justify-content: center;
  background-color: rgb(18, 18, 63);
}
nav a{
  color: red;
  font-size: 20px;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

*{
  font-family: Monospace;
  background-color: #8B9EB7;
  /*background-color: #e8edf3;*/
  /*background-color: #8B9EB7;*/

}

a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid rgb(253, 220, 30) ;

}

/* TiTle */
#banner{
  background-image: url("images/chinacity.jpg");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  height: 900px;
  
}

#banner {
  justify-content: center;
  align-items: center;
  color: rgb(202, 13, 13);
  font-size: 60px;
  text-align: center;
}

/* Flag and map */


#about img{
  
  border: 2px solid black;
  height: 350px;
  width: 500px;
  max-width: 450px;
  justify-content: center;

}

#about{
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}

figure{
  text-align: center;
  width: fit-content;
  margin: 0 auto;

}

figure img{
  display: block;
  
}

figcaption{
  margin-top: 8px;
  font-size: 20px;
}

/* description about china + some cool pictures */

/* Footer */
#footer{
   color:white;
   background-color: rgb(18, 18, 63);
   align-items: center;
   height: 20px;
}
