
.container{
    display: flex;
    
}



nav{
  padding:5px;
  flex: 1;
  justify-content: center;
  background-color: rgb(56, 56, 224);
}
nav a{
  color: black;
  font-size: 20px;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

*{
  font-family: Monospace;
}

a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid red ;

}

#banner{
  background-image: url("images/chinacity.jpg");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  height: 900px;
  
}

#banner {
  justify-content: center;
  align-items: center;
  color: rgb(202, 13, 13);
  font-size: 60px;
  text-align: center;
}

#about img{
  border: 5px;
  padding: 200px;
  height: 350px;
  width: 500px;
}