
/* All */
.container{
    display: flex;
   
}

.container div{
  flex: 1;
}

body{
  font-family: Monospace;
  background-color: #6f6f85;

}

/* Navagation bar */

nav{
  display: flex;
  padding:5px;
 
  justify-content: center;
  background-color: #001B3A;
  
}
nav a{
  color: red;
  font-size: 20px;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}


a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid rgb(230, 199, 28) ;

}

/* TiTle */

#banner{
  background-image: url("images/chinacity.jpg");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  height: 900px;

  justify-content: center;
  align-items: center;
  color: rgb(202, 13, 13);
  font-size: 60px;
  text-align: center;
}

/* description about china */

#facts img{
  height: 500px;
  width: 900px;
  border: double;
}



#a{
  border: solid;
  background-color: rgba(165, 148, 206, 0.856);
  font-size: 20px;
  border-radius: 20px;
}

#facts{ 
  margin-top: 50px;
}



/* Flag and map */


#about img{
  
  border: solid  ;
  border-radius: 10px;
  height: 300px;
  width: 500px;
  max-width: 450px;
  justify-content: center;

}

#about{
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}
#about img:hover{
  transform:scale(1.2) ;
  transition-duration: 2s;
}

figure{
  text-align: center;
  width: fit-content;
  margin: 0 auto;

}

figure img{
  display: block;
  
}

figcaption{
  margin-top: 40px;
  font-size: 20px;
}



/* Culture */


#bar2{
  padding:5px;
  flex: 1;
  justify-content: center;
  background-color: #ffc400;
  /*background-color: rgb(15, 18, 61);*/
}

nav #a1:hover{
  border-bottom: 2px solid rgb(255, 255, 255) ;

}

#body1{
  background-color: #fce7d0;

}
 
#banner2{
  background-image: url("images/gardencity.jpg");
  height: 900px;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  color: rgb(253, 236, 0);
  font-size: 60px;
  text-align: center;
}

/* About */

#facts2 img{
  height: 500px;
  width: 900px;
  border: double;
}

#facts2{
  padding-top: 50px;
}

#b{
  border: solid;
  background-color: rgba(236, 255, 168, 0.856);
  font-size: 20px;
  border-radius: 20px;
}

/* Gallery */

.head{
  padding-top: 30px ;
  text-decoration: underline;
  color: rgb(214, 139, 1);
}

#about2 img{
  
  border: solid  ;
  border-radius: 10px;
  height: 300px;
  width: 500px;
  max-width: 450px;
  justify-content: center;
  
  margin: 20px;

}

#about2{
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
#about2 img:hover{
  transform:scale(1.2) ;
  transition-duration: 2s;
}



/* Footer */
#footer{
   color:white;
   background-color: #7e7e7e;
   align-items: center;
   justify-content: center;
   height: 30px;
}
