/* All */
.container{
    display: flex;
   
}

.container div{
  flex: 1;
}

body{
  font-family: Monospace;
  /*background-color: #8B9EB7;*/
  /*background-color: #e8edf3;*/
  background-color: #6f6f85;

}

/* Navagation bar */

nav{
  padding:5px;
  flex: 1;
  justify-content: center;
  background-color: #001B3A
  /*background-color: rgb(15, 18, 61);*/
}
nav a{
  color: red;
  font-size: 20px;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}


a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid rgb(230, 199, 28) ;

}

/* TiTle */
#banner{
  background-image: url("images/chinacity.jpg");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  height: 900px;

  justify-content: center;
  align-items: center;
  color: rgb(202, 13, 13);
  font-size: 60px;
  text-align: center;
}

/*#banner {
  justify-content: center;
  align-items: center;
  color: rgb(202, 13, 13);
  font-size: 60px;
  text-align: center;
}
*/

/* description about china */

#facts img{
  height: 500px;
  width: 900px;
  border: double;
}


#a{
  border: solid;
  background-color: rgba(206, 185, 255, 0.856);
  font-size: 20px;
  
  
}

#facts{ 
  margin-top: 50px;
}



/* Flag and map */


#about img{
  
  border: 2px  ;
  height: 300px;
  width: 500px;
  max-width: 450px;
  justify-content: center;

}

#about{
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}
#about img:hover{
  transform:scale(1.2) ;
  transition-duration: 2s;
}

figure{
  text-align: center;
  width: fit-content;
  margin: 0 auto;

}

figure img{
  display: block;
  
}

figcaption{
  margin-top: 40px;
  font-size: 20px;
}

/* Culture */
#banner2{
  background-image: url("images/culture.jpg");
  height: 900px;
  background-size: cover;
  /*background-size: 100% 100% ;
  background-repeat: no-repeat;
  height: 900px;*/
}














































/* Footer */
#footer{
   color:white;
   background-color: #001B3A;
   align-items: center;
   height: 20px;
}
