
/* All */
.container{
    display: flex;
   
}

.container div{
  flex: 1;
}

body{
  font-family: Monospace;
  background-color: #6f6f85;

}

/* Navagation bar */

nav{
  display: flex;
  padding:5px;
 
  justify-content: center;
  background-color: #001B3A;
  
}
nav a{
  color: red;
  font-size: 20px;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}


a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid rgb(230, 199, 28) ;

}

/* TiTle */

#banner{
  background-image: url("images/chinacity.jpg");
  background-size: 100% 100% ;
  background-repeat: no-repeat;
  height: 900px;

  justify-content: center;
  align-items: center;
  color: rgb(202, 13, 13);
  font-size: 60px;
  text-align: center;
}

/* description about china */

#facts img{
  height: 500px;
  width: 900px;
  border: double;
}



#a{
  border: solid;
  background-color: rgba(165, 148, 206, 0.856);
  font-size: 20px;
  border-radius: 20px;
}

#facts{ 
  margin-top: 50px;
}



/* Flag and map */


#about img{
  
  border: solid  ;
  border-radius: 10px;
  height: 300px;
  width: 500px;
  max-width: 450px;
  justify-content: center;

}

#about{
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}
#about img:hover{
  transform:scale(1.2) ;
  transition-duration: 2s;
}

figure{
  text-align: center;
  width: fit-content;
  margin: 0 auto;

}

figure img{
  display: block;
  
}

figcaption{
  margin-top: 40px;
  font-size: 20px;
}



/* Culture */


#bar2{
  padding:5px;
  flex: 1;
  justify-content: center;
  background-color: #ffa600;
  /*background-color: rgb(15, 18, 61);*/
}

nav #a1:hover{
  border-bottom: 2px solid rgb(255, 255, 255) ;

}

#body1{
  background-color: #fce7d0;

}
 
#banner2{
  background-image: url("images/gardencity.jpg");
  height: 900px;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  color: rgb(253, 236, 0);
  font-size: 60px;
  text-align: center;
}

/* About */

#facts2 img{
  height: 500px;
  width: 900px;
  border: double;
}

#facts2{
  padding-top: 50px;
}

#b{
  border: solid;
  background-color: rgba(236, 255, 168, 0.856);
  font-size: 20px;
  border-radius: 20px;
}

/* Gallery */

.head{
  padding-top: 30px ;
  text-decoration: underline;
  color: rgb(214, 139, 1);
}

#about2 img{
  
  border: solid  ;
  border-radius: 10px;
  height: 300px;
  width: 500px;
  max-width: 450px;
  justify-content: center;
  
  margin: 20px;

}

#about2{
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
#about2 img:hover{
  transform:scale(1.2) ;
  transition-duration: 2s;
}

/* Attractions*/

#body2{
  background-color: #f0fcd0;

}

#c{
  border: solid;
  background-color: rgba(236, 255, 168, 0.856);
  font-size: 20px;
  border-radius: 20px;
}

#bar3{
  padding:5px;
  flex: 1;
  justify-content: center;
  background-color: rgb(253, 255, 113);
  /*background-color: rgb(15, 18, 61);*/
}

nav .a2:hover{
  border-bottom: 2px solid rgb(255, 174, 0) ;

}
 
#banner3{
  background-image: url("images/forbiddencity.webp");
  height: 900px;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  color: rgb(249, 253, 0);
  font-size: 60px;
  text-align: center;
}

/*info*/

.attractions {
    padding: 20px;
}

.attraction {
    background-color: white;
    display: flex;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.attraction img {
    width: 250px;
    height: auto;
    filter: grayscale(100%);
    border: 2px solid;
}

.attraction img:hover{
  filter: none;
  transition: 1.5s;
}
.attraction .text {
    padding: 15px;
}

.location {
    font-style: italic;
    color: #555555;
}

/* FOOD */

#body3{
  background-color: #f0fcd0;

}

#d{
  border: solid;
  background-color: rgba(236, 255, 168, 0.856);
  font-size: 20px;
  border-radius: 20px;
}

#bar4{
  padding:5px;
  flex: 1;
  justify-content: center;
  background-color: rgb(178, 255, 77);
  /*background-color: rgb(15, 18, 61);*/
}

nav #a3:hover{
  border-bottom: 2px solid rgb(255, 255, 255) ;

}
/* 
#banner4{
  background-image: url("images/food.jpg");
  height: 800px;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 60px;
  text-align: center;
}
*/
/*info*/

.food {
    padding: 20px;
}

.food {
    background-color: white;
    display: flex;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.food img {
    width: 250px;
    height: auto;
    filter: grayscale(100%);
    border: 2px solid;
}

.food img:hover{
  filter: none;
  transition: 1.5s;
}
.food .text {
    padding: 15px;
}

.location {
    font-style: italic;
    color: #555555;
}









/* Footer */
#footer{
   color:white;
   background-color: #7e7e7e;
   align-items: center;
   justify-content: center;
   height: 30px;
   
}
