
.container{
    display: flex;
}

nav{
    flex: 1;
    justify-content: center;
}

nav{
  padding:5px
}
nav a{
  color: black;
  font-size: 20px;
  margin:0 10px 0 10px;
  display:inline-block;
  width:20%;
  text-align:center;
}

*{
  font-family: Monospace;
}

a{
  text-decoration: none;
}

nav a:hover{
  border-bottom: 2px solid red ;
}

.banner{
  background-color: rgb(255, 40, 40);
  color: black;
  font-size: 25px;
  text-align: center;
}

.main{
  font-size: larger;
  color: blue;
  
}